pipeline/002-Inyectar_Data_Fresh.json
{
	"name": "002-Inyectar_Data_Fresh",
	"properties": {
		"activities": [
			{
				"name": "Inyectar_Agentes_Fresh",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "agent_table"
					},
					{
						"name": "Destination",
						"value": "agentes"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table agentes"
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Double",
									"physicalType": "double"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshAgentes",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgAgentes",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Origenes_Fresh",
				"description": "",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table Origenes"
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshOrigenes",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgOrigenes",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Productos_Fresh",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table Productos"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Double",
									"physicalType": "double"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshProductos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgProductos",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Companias_Fresh",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table Companias"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Double",
									"physicalType": "double"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshCompanias",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgCompanias",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Estados_Fresh",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "SELECT id, \nTRIM(REPLACE(REPLACE(SUBSTRING_INDEX(name, ',', 1),'[',''),'''','')) AS  name\nfrom status_table\n",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table Estados"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshEstados",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgEstados",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Prioridades_Fresh",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table Prioridad"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "int",
									"scale": 0,
									"precision": 0
								},
								"sink": {
									"name": "codigo",
									"type": "varchar",
									"scale": 0,
									"precision": 0
								}
							},
							{
								"source": {
									"name": "name",
									"type": "text",
									"scale": 0,
									"precision": 0
								},
								"sink": {
									"name": "nombre",
									"type": "varchar",
									"scale": 0,
									"precision": 0
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshPrioridades",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgPrioridad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Tipos_Fresh",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table TipoTicket"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshTipos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgTipos",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Tickets_Fresh",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "select DISTINCT\nt.id,\ncreated_at,\nupdated_at,\ntimestampdiff(HOUR,created_at,updated_at) AS `hours_between`,\ntimestampdiff(MINUTE,created_at,updated_at) AS `minutes_between`,\ncompany_id as companiaCodigo,\n`status` as estadoCodigo, \n`type` as tipoCodigo, \ntt.id as tipoid,\nproduct_id as productoCodigo, \ngroup_id as grupoCodigo, \n`source` as origenCodigo,\n`priority` as prioridadCodigo,\n`responder_id` as agenteCodigo\nfrom freshdesk_tickets t\nleft join ticket_type tt on tt.name = t.type",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table Tickets"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "fechaAlta",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "fechaModificacion",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "hours_between",
									"type": "Int64"
								},
								"sink": {
									"name": "horasDiferecia",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "minutes_between",
									"type": "Int64"
								},
								"sink": {
									"name": "minutosDiferencia",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "companiaCodigo",
									"type": "Double"
								},
								"sink": {
									"name": "companiaCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "estadoCodigo",
									"type": "Int32"
								},
								"sink": {
									"name": "estadoCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "tipoCodigo",
									"type": "String"
								},
								"sink": {
									"name": "tipoCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "productoCodigo",
									"type": "String"
								},
								"sink": {
									"name": "productoCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "grupoCodigo",
									"type": "Double"
								},
								"sink": {
									"name": "grupoCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "origenCodigo",
									"type": "Int32"
								},
								"sink": {
									"name": "origenCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "prioridadCodigo",
									"type": "Int32"
								},
								"sink": {
									"name": "prioridadCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "agenteCodigo",
									"type": "Double"
								},
								"sink": {
									"name": "agenteCodigo",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshTickets",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgTickets",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inyectar_Grupos_Fresh",
				"description": "",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "Truncate Table Grupo"
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "codigo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FreshGrupos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgGrupos",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Insertar Comentarios",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureMySqlSink",
									"writeBatchSize": 10000,
									"writeBatchTimeout": "00:00:30"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Column_1']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Fresh_Conversariones",
									"type": "DatasetReference",
									"parameters": {
										"IdTickets": {
											"value": "93311",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StgConversaciones",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "StgTickets",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-13T18:22:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}