pipeline/002-Importar_Tickets_Fresh_to_Stg.json
{
	"name": "Importar_Tickets_Api",
	"properties": {
		"activities": [
			{
				"name": "Get Ticktes",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://autocorpdwapi.azurewebsites.net/api/freshwork/tickets"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Ticktes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('Get Ticktes').output.Response)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Item",
								"value": {
									"value": "@item().codigo",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"pages": {
				"type": "Integer",
				"defaultValue": 1
			},
			"index": {
				"type": "String",
				"defaultValue": "0"
			},
			"Item": {
				"type": "String"
			}
		},
		"annotations": []
	}
}