pipeline/003-Inyecar_SLA.json
{
	"name": "003-Inyecar_SLA",
	"properties": {
		"activities": [
			{
				"name": "Inyectar_SLA_API",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30",
						"preCopyScript": "truncate table Sla"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "codigo"
								}
							},
							{
								"source": {
									"path": "$['name']"
								},
								"sink": {
									"name": "nombre"
								}
							},
							{
								"source": {
									"path": "$['description']"
								},
								"sink": {
									"name": "descipcion"
								}
							},
							{
								"source": {
									"path": "$['active']"
								},
								"sink": {
									"name": "isactive"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_4']['respond_within']"
								},
								"sink": {
									"name": "slaTargetPriority4RespondWithin"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_4']['resolve_within']"
								},
								"sink": {
									"name": "slaTargerPriority4ResolveWithin"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_3']['respond_within']"
								},
								"sink": {
									"name": "slaTargetPriority3RespondWithin"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_3']['resolve_within']"
								},
								"sink": {
									"name": "slaTargerPriority3ResolveWithin"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_2']['respond_within']"
								},
								"sink": {
									"name": "slaTargetPriority2RespondWithin"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_2']['resolve_within']"
								},
								"sink": {
									"name": "slaTargerPriority2ResolveWithin"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_1']['respond_within']"
								},
								"sink": {
									"name": "slaTargetPriority1RespondWithin"
								}
							},
							{
								"source": {
									"path": "$['sla_target']['priority_1']['resolve_within']"
								},
								"sink": {
									"name": "slaTargerPriority1ResolveWithin"
								}
							},
							{
								"source": {
									"path": "$['applicable_to']['company_ids'][0]"
								},
								"sink": {
									"name": "companyid"
								}
							},
							{
								"source": {
									"path": "$['is_default']"
								},
								"sink": {
									"name": "isdefault"
								}
							},
							{
								"source": {
									"path": "$['position']"
								},
								"sink": {
									"name": "posicion"
								}
							},
							{
								"source": {
									"path": "$['created_at']"
								},
								"sink": {
									"name": "fechaAlta"
								}
							},
							{
								"source": {
									"path": "$['updated_at']"
								},
								"sink": {
									"name": "fechaModificacion"
								}
							},
							{
								"source": {
									"path": "$['escalation']['reminder_resolution']['agent_ids'][0]"
								},
								"sink": {
									"name": "escalationReminderResolutionAgentids"
								}
							},
							{
								"source": {
									"path": "$['escalation']['resolution']['level_1']['agent_ids'][0]"
								},
								"sink": {
									"name": "escalationResolutionLevel1AgentId"
								}
							}
						],
						"collectionReference": "$['.company_ids']"
					}
				},
				"inputs": [
					{
						"referenceName": "Fresh_SLA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StgSLA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Tickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Tickets').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureMySqlSink",
									"writeBatchSize": 10000,
									"writeBatchTimeout": "00:00:30"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Fresh_Conversariones",
									"type": "DatasetReference",
									"parameters": {
										"IdTickets": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StgConversaciones",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Tickets",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Get Tickets Fresh",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-14T18:54:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}