pipeline/004-Inyectar_Fresh_Conversaciones_To_Dw.json
{
	"name": "004-Inyectar_Fresh_Conversaciones_To_Dw",
	"properties": {
		"activities": [
			{
				"name": "Get Conversaciones by Ticket",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Ticktes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Ticktes').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set variable IdParameter",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IdParameter",
								"value": {
									"value": "@string(item().id)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "API - Conversaciones",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set variable IdParameter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Basic ', base64('yBjVC7W3wuMLeucdH4Hw:X'))",
										"type": "Expression"
									}
								},
								"disableCertValidation": false,
								"url": {
									"value": "@concat('https://autocorpar.freshdesk.com/api/v2/tickets/',item().id,'/conversations')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable vTicketsId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "API - Conversaciones",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vTicket_id",
								"value": {
									"value": "@json(activity('API - Conversaciones').output.Response)\n\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Variable Key",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable vTicketsId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Key",
								"value": {
									"value": "@variables('vTicket_id')[0].ticket_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script Insert Conversaciones DW",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Script Detete Conversaciones",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SqlAutocorpDw",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('insert into stg.conversaciones (id, created_at, updated_at) values (',variables('vTicket_id')[0].ticket_id,\n    pipeline().parameters.DelimitadorComa,\n    pipeline().parameters.DelimitarioCommilaSimple,\n    variables('vTicket_id')[0].created_at,\n    pipeline().parameters.DelimitarioCommilaSimple,\n    pipeline().parameters.DelimitadorComa,\n    pipeline().parameters.DelimitarioCommilaSimple,\n    variables('vTicket_id')[0].updated_at,\n    pipeline().parameters.DelimitarioCommilaSimple,')')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Script Detete Conversaciones",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set variable vTicketsId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SqlAutocorpDw",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('delete stg.conversaciones where id = ',\npipeline().parameters.DelimitarioCommilaSimple,\nvariables('vTicket_id')[0].ticket_id,\npipeline().parameters.DelimitarioCommilaSimple)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Get Ticktes",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT codigo as id FROM [stg].[Tickets] \r\nWHERE fechaAlta >  dateadd(day,-40,getdate())\r\norder by codigo",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "stgTickets",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"DelimitarioCommilaSimple": {
				"type": "string",
				"defaultValue": "'"
			},
			"DelimitadorComa": {
				"type": "string",
				"defaultValue": ","
			}
		},
		"variables": {
			"IdParameter": {
				"type": "String"
			},
			"vTicket_id": {
				"type": "Array"
			},
			"Key": {
				"type": "Integer"
			},
			"createDate": {
				"type": "Array"
			},
			"VError": {
				"type": "String"
			}
		},
		"annotations": []
	}
}