pipeline/005-Inyectar_Fresh_Conversaciones_To_Dw.json
{
	"name": "005-Inyectar_Fresh_Conversaciones_To_Dw",
	"properties": {
		"activities": [
			{
				"name": "Get Conversaciones by Ticket",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Ticktes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Ticktes').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set variable IdParameter",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IdParameter",
								"value": {
									"value": "@string(item().codigo)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insertar Conversaciones",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Set variable IdParameter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": {
									"value": "@concat('ImportarConversaciones?id=',item().codigo)",
									"type": "Expression"
								},
								"method": "GET"
							},
							"linkedServiceName": {
								"referenceName": "AF_DW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Ticktes",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT codigo FROM whs.v_getConversaciones",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "stgTickets",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"DelimitarioCommilaSimple": {
				"type": "string",
				"defaultValue": "'"
			},
			"DelimitadorComa": {
				"type": "string",
				"defaultValue": ","
			}
		},
		"variables": {
			"IdParameter": {
				"type": "String"
			},
			"vTicket_id": {
				"type": "Array"
			},
			"Key": {
				"type": "Integer"
			},
			"createDate": {
				"type": "Array"
			},
			"VError": {
				"type": "String"
			},
			"Items": {
				"type": "Array"
			},
			"VItem": {
				"type": "String"
			},
			"Item": {
				"type": "String"
			}
		},
		"annotations": []
	}
}