pipeline/Importar_Tickets_Api.json
{
	"name": "Importar_Tickets_Api",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": "@concat('Basic ', base64('yBjVC7W3wuMLeucdH4Hw:X'))"
					},
					"url": "https://autocorpar.freshdesk.com/api/v2/tickets"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('Web1').output.Response)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Item",
								"value": {
									"value": "@string(item().id)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Item": {
				"type": "String"
			}
		},
		"annotations": []
	}
}