Autocorp/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "Autocorp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TicketsCnsolidados_xslx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Storege_Fresh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh/Storege"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Hoja1",
					"location": {
						"type": "AzureFileStorageLocation",
						"fileName": "Freshdesk_Tickets_Consolidado_completo.xlsx"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "cc_emails",
						"type": "String"
					},
					{
						"name": "fwd_emails",
						"type": "String"
					},
					{
						"name": "reply_cc_emails",
						"type": "String"
					},
					{
						"name": "ticket_cc_emails",
						"type": "String"
					},
					{
						"name": "ticket_bcc_emails",
						"type": "String"
					},
					{
						"name": "fr_escalated",
						"type": "String"
					},
					{
						"name": "spam",
						"type": "String"
					},
					{
						"name": "email_config_id",
						"type": "String"
					},
					{
						"name": "group_id",
						"type": "String"
					},
					{
						"name": "priority",
						"type": "String"
					},
					{
						"name": "requester_id",
						"type": "String"
					},
					{
						"name": "responder_id",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					},
					{
						"name": "company_id",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "association_type",
						"type": "String"
					},
					{
						"name": "support_email",
						"type": "String"
					},
					{
						"name": "to_emails",
						"type": "String"
					},
					{
						"name": "product_id",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "due_by",
						"type": "String"
					},
					{
						"name": "fr_due_by",
						"type": "String"
					},
					{
						"name": "is_escalated",
						"type": "String"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					},
					{
						"name": "associated_tickets_count",
						"type": "String"
					},
					{
						"name": "tags",
						"type": "String"
					},
					{
						"name": "form_id",
						"type": "String"
					},
					{
						"name": "nr_due_by",
						"type": "String"
					},
					{
						"name": "nr_escalated",
						"type": "String"
					},
					{
						"name": "cf_patente",
						"type": "String"
					},
					{
						"name": "cf_id_efleet",
						"type": "String"
					},
					{
						"name": "cf_generar_ot_efleet",
						"type": "String"
					},
					{
						"name": "cf_kilometraje",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimAgentes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimAgentes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimCompanias')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "whs",
					"table": "dimCompanias"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimEstados')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "whs",
					"table": "dimEstados"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimGrupos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimGrupos"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimOrigenes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimOrigenes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimPrioridades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimPrioridades"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimProductos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimProductos"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimSla')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descipcion",
						"type": "varchar"
					},
					{
						"name": "isactive",
						"type": "bit"
					},
					{
						"name": "isdefault",
						"type": "bit"
					},
					{
						"name": "posicion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fechaAlta",
						"type": "varchar"
					},
					{
						"name": "fechaModificacion",
						"type": "varchar"
					},
					{
						"name": "companyid",
						"type": "varchar"
					},
					{
						"name": "slaTargetPriority1RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority1ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargetPriority2RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority2ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargetPriority3RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority3ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargetPriority4RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority4ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "escalationReminderResolutionEscalationTime",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "escalationReminderResolutionAgentids",
						"type": "varchar"
					},
					{
						"name": "escalationResolutionLevel1EscalationTime",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "escalationResolutionLevel1AgentId",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimSla"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimTiposTickets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimTiposTicket"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/factTickets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Echos"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "fechaAlta",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fechaModificacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "horasDiferecia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "minutosDiferencia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "companiaId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estadoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tipoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "productoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "grupoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "origenId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "prioridadId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "agenteId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "factTickets"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stgTickets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staiging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "fechaAlta",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fechaModificacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "horasDiferecia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "minutosDiferencia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "companiaCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estadoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tipoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "productoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "grupoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "origenCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "prioridadCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "agenteCodigo",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Tickets"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/002-Importar_Tickets_Fresh_to_Stg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Intectar Tickes stg",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['codigo']"
										},
										"sink": {
											"name": "codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fechaAlta']"
										},
										"sink": {
											"name": "fechaAlta",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['fechaModificacion']"
										},
										"sink": {
											"name": "fechaModificacion",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['companiaCodigo']"
										},
										"sink": {
											"name": "companiaCodigo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['estadoCodigo']"
										},
										"sink": {
											"name": "estadoCodigo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['tipoCodigo']"
										},
										"sink": {
											"name": "tipoCodigo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productoCodigo']"
										},
										"sink": {
											"name": "productoCodigo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['grupoCodigo']"
										},
										"sink": {
											"name": "grupoCodigo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['origenCodigo']"
										},
										"sink": {
											"name": "origenCodigo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['prioridadCodigo']"
										},
										"sink": {
											"name": "prioridadCodigo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['agenteCodigo']"
										},
										"sink": {
											"name": "agenteCodigo",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "Fresh_Tickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "stgTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"pages": {
						"type": "Integer",
						"defaultValue": 1
					},
					"index": {
						"type": "String",
						"defaultValue": "0"
					},
					"Item": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stgTickets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/003-Inyectar_Dimensiones_Fresh_To_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_Agentes_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom agent_table;"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshAgentes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimAgentes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Origenes_Fresh",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\r\nupper(name) name\r\nfrom source_table;\r\n\r\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshOrigenes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimOrigenes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Productos_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom product_table;\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshProductos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimProductos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Companias_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom freshdesk_companies;\n\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshCompanias",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimCompanias",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Estados_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "SELECT id, \nUPPER(TRIM(REPLACE(REPLACE(SUBSTRING_INDEX(name, ',', 1),'[',''),'''',''))) AS  name\nfrom status_table\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshEstados",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimEstados",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Prioridades_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom priority_table;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshPrioridades",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimPrioridades",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Tipos_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom ticket_type;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshTipos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimTiposTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Grupos_Fresh",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom group_table;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshGrupos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimGrupos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"IdForEach": {
						"type": "Integer"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-13T18:22:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dimAgentes')]",
				"[concat(variables('factoryId'), '/datasets/dimOrigenes')]",
				"[concat(variables('factoryId'), '/datasets/dimProductos')]",
				"[concat(variables('factoryId'), '/datasets/dimCompanias')]",
				"[concat(variables('factoryId'), '/datasets/dimEstados')]",
				"[concat(variables('factoryId'), '/datasets/dimPrioridades')]",
				"[concat(variables('factoryId'), '/datasets/dimTiposTickets')]",
				"[concat(variables('factoryId'), '/datasets/dimGrupos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/004-Inyecar_Hechos_Fresh_To_Staiging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_SLA_API",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "nombre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['description']"
										},
										"sink": {
											"name": "descipcion",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['active']"
										},
										"sink": {
											"name": "isactive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_4']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority4RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_4']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority4ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_3']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority3RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_3']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority3ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_2']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority2RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_2']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority2ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_1']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority1RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_1']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority1ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['escalation']['reminder_resolution']['agent_ids'][0]"
										},
										"sink": {
											"name": "escalationReminderResolutionAgentids",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['escalation']['resolution']['level_1']['agent_ids'][0]"
										},
										"sink": {
											"name": "escalationResolutionLevel1AgentId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['applicable_to']['company_ids'][0]"
										},
										"sink": {
											"name": "companyid",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "Fresh_SLA",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimSla",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Ids": {
						"type": "Array",
						"defaultValue": [
							"[['a','b','c']"
						]
					},
					"vId": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-14T18:54:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dimSla')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/005-Inyectar_Fresh_Conversaciones_To_Dw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Conversaciones by Ticket",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Ticktes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Ticktes').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Set variable IdParameter",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "IdParameter",
										"value": {
											"value": "@string(item().codigo)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insertar Conversaciones",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "Set variable IdParameter",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": {
											"value": "@concat('ImportarConversaciones?id=',item().codigo)",
											"type": "Expression"
										},
										"headers": {},
										"method": "GET"
									},
									"linkedServiceName": {
										"referenceName": "AF_DW",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Get Ticktes",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT codigo FROM whs.v_getConversaciones",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "stgTickets",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Update FactTickets Fecha Primer Respuesta",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Get Conversaciones by Ticket",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlAutocorpDw",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "update whs.factTickets set FechaPrimerRespuesta = r1.fechaRespuesta\r\nfrom\r\n(\r\nSELECT  id codigo, created_at fechaRespuesta\r\nFROM  stg.Conversaciones \r\nwhere created_at is not null\r\n) as r1\r\nwhere whs.factTickets.codigo = r1.codigo"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DelimitarioCommilaSimple": {
						"type": "string",
						"defaultValue": "'"
					},
					"DelimitadorComa": {
						"type": "string",
						"defaultValue": ","
					}
				},
				"variables": {
					"IdParameter": {
						"type": "String"
					},
					"vTicket_id": {
						"type": "Array"
					},
					"Key": {
						"type": "Integer"
					},
					"createDate": {
						"type": "Array"
					},
					"VError": {
						"type": "String"
					},
					"Items": {
						"type": "Array"
					},
					"VItem": {
						"type": "String"
					},
					"Item": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stgTickets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/006-Inyectar_Echos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_Dw_FactTickets",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\r\nt.codigo,\r\nt.fechaAlta,\r\nt.fechaModificacion,\r\nc.id companiaId,\r\ne.id estadoId,\r\ntt.id  tipoId,\r\np.id productoId,\r\ng.id grupoId,\r\no.id origenId,\r\npr.id prioridadId,\r\na.id agenteId,\r\nsla.id slaId,\r\ncase \r\n    when pr.codigo = 1 then sla.slaTargerPriority1ResolveWithin /60\r\n    when pr.codigo = 2 then sla.slaTargerPriority2ResolveWithin /60\r\n    when pr.codigo = 3 then sla.slaTargerPriority3ResolveWithin /60\r\n    when pr.codigo = 4 then sla.slaTargerPriority4ResolveWithin /60\r\nend SlaResolucion,\r\ncase \r\n    when pr.codigo = 1 then sla.slaTargetPriority1RespondWithin /60\r\n    when pr.codigo = 2 then sla.slaTargetPriority2RespondWithin /60\r\n    when pr.codigo = 3 then sla.slaTargetPriority3RespondWithin /60\r\n    when pr.codigo = 4 then sla.slaTargetPriority4RespondWithin /60\r\nend SlaRespuesta,\r\npresp.FechaPrimerRespuesta,\r\nhorasDiferecia,\r\nminutosDiferencia\r\n\r\nfrom stg.tickets t \r\nleft join whs.dimCompanias c on c.codigo = t.companiaCodigo\r\nleft join whs.dimEstados e on e.codigo = t.estadoCodigo\r\nleft join whs.dimTiposTicket tt on tt.nombre = t.tipoCodigo\r\nleft join whs.dimProductos p on p.codigo = t.productoCodigo\r\nleft join whs.dimGrupos g on g.codigo = t.grupoCodigo\r\nleft join whs.dimOrigenes o on o.codigo = t.origenCodigo\r\nleft join whs.dimPrioridades pr on pr.codigo = t.prioridadCodigo\r\nleft join whs.dimAgentes a on a.codigo = t.agenteCodigo\r\nleft join whs.dimSla sla on sla.companyid = t.companiaCodigo or sla.nombre = 'Default SLA Policy' and sla.isactive = 1\r\nleft join (\r\n                select id codigo,\r\n            min(created_at) FechaPrimerRespuesta\r\n            from stg.Conversaciones where id = 92984\r\n            group by id\r\n            ) presp on presp.codigo = t.codigo\r\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "fechaAlta",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "fechaAlta",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fechaModificacion",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "fechaModificacion",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "horasDiferecia",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "horasDiferecia",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "minutosDiferencia",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "minutosDiferencia",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "companiaId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "companiaId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "estadoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "estadoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "tipoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "tipoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "productoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "grupoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "grupoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "origenId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "origenId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "prioridadId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "prioridadId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "agenteId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "agenteId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "slaId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "slaId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SlaResolucion",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 21
										},
										"sink": {
											"name": "SlaResolucion",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "SlaRespuesta",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 21
										},
										"sink": {
											"name": "SlaRespuesta",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "FechaPrimerRespuesta",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FechaPrimerRespuesta",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "stgTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "factTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"nombre": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-14T15:43:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stgTickets')]",
				"[concat(variables('factoryId'), '/datasets/factTickets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/001-Orquestador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_Data_Fresh",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Iyectar Tickets Api Fresh To Stg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "003-Inyectar_Dimensiones_Fresh_To_DW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Inyectar_SLA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inyectar_Data_Fresh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "004-Inyecar_Hechos_Fresh_To_Staiging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Inyectar_FactTickets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inyectar_SLA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "006-Inyectar_Echos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Inyecta_Conversaciones_DW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inyectar_FactTickets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "005-Inyectar_Fresh_Conversaciones_To_Dw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Importar Tickets Excel Consolidado",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureMySqlSink",
								"writeBatchSize": 10000,
								"writeBatchTimeout": "00:00:30",
								"preCopyScript": "delete from freshdesk_tickets"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cc_emails",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cc_emails",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "fwd_emails",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fwd_emails",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "reply_cc_emails",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "reply_cc_emails",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "ticket_cc_emails",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ticket_cc_emails",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "ticket_bcc_emails",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ticket_bcc_emails",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "fr_escalated",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fr_escalated",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "spam",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "spam",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "email_config_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "email_config_id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "group_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "group_id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "priority",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "priority",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "requester_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "requester_id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "responder_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "responder_id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "company_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "company_id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "subject",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "subject",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "association_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "association_type",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "support_email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "support_email",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "to_emails",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "to_emails",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "product_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "product_id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "due_by",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "due_by",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "fr_due_by",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fr_due_by",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "is_escalated",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "is_escalated",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "created_at",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "updated_at",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "associated_tickets_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "associated_tickets_count",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "tags",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tags",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "nr_due_by",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nr_due_by",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "nr_escalated",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nr_escalated",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "form_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "form_id",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "cf_patente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cf_patente",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "cf_id_efleet",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cf_id_efleet",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "cf_generar_ot_efleet",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cf_generar_ot_efleet",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "cf_kilometraje",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cf_kilometraje",
											"type": "String",
											"physicalType": "text"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TicketsCnsolidados_xslx",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "FreshTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Iyectar Tickets Api Fresh To Stg",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "002-Importar_Tickets_Fresh_to_Stg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ProcessID": {
						"type": "String"
					},
					"nombre": {
						"type": "String"
					},
					"vId": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-14T15:43:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/003-Inyectar_Dimensiones_Fresh_To_DW')]",
				"[concat(variables('factoryId'), '/pipelines/004-Inyecar_Hechos_Fresh_To_Staiging')]",
				"[concat(variables('factoryId'), '/pipelines/006-Inyectar_Echos')]",
				"[concat(variables('factoryId'), '/pipelines/005-Inyectar_Fresh_Conversaciones_To_Dw')]",
				"[concat(variables('factoryId'), '/datasets/TicketsCnsolidados_xslx')]",
				"[concat(variables('factoryId'), '/pipelines/002-Importar_Tickets_Fresh_to_Stg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Diario 2-00am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "001-Orquestador",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2025-01-04T02:08:00",
						"timeZone": "Argentina Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/001-Orquestador')]"
			]
		}
	]
}