Autocorp/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "Autocorp"
		},
		"APIFresh_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"APIFresh\""
		},
		"ApiConversariones_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"ApiConversariones\""
		},
		"DataWareouse_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"DataWareouse\""
		},
		"FreshDB_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"FreshDB\""
		},
		"SqlAutocorpDw_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"SqlAutocorpDw\""
		},
		"StaigingDB_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"StaigingDB\""
		},
		"APIFresh_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://autocorpar.freshdesk.com/api/v2/sla_policies"
		},
		"APIFresh_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "yBjVC7W3wuMLeucdH4Hw"
		},
		"ApiConversariones_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://autocorpar.freshdesk.com/api/v2/tickets/93311/conversations"
		},
		"ApiConversariones_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "yBjVC7W3wuMLeucdH4Hw"
		},
		"SqlAutocorpDw_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "autocorpdw.database.windows.net"
		},
		"SqlAutocorpDw_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Autocorp_dw"
		},
		"SqlAutocorpDw_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "autocorp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/001-Orquestador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_Data_Fresh",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "002-Inyectar_Dimensiones_Fresh_To_DW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Inyectar_Hechos_stg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inyectar_Data_Fresh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "003-Inyecar_Hechos_Fresh_To_Staiging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Inyectar_FactTickets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inyectar_Hechos_stg",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Inyecta_Conversaciones_DW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "005-Inyectar_Echos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Inyecta_Conversaciones_DW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inyectar_Data_Fresh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "004-Inyectar_Fresh_Conversaciones_To_Dw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ProcessID": {
						"type": "String"
					},
					"nombre": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-14T15:43:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/002-Inyectar_Dimensiones_Fresh_To_DW')]",
				"[concat(variables('factoryId'), '/pipelines/003-Inyecar_Hechos_Fresh_To_Staiging')]",
				"[concat(variables('factoryId'), '/pipelines/005-Inyectar_Echos')]",
				"[concat(variables('factoryId'), '/pipelines/004-Inyectar_Fresh_Conversaciones_To_Dw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/002-Inyectar_Dimensiones_Fresh_To_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_Agentes_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom agent_table;"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshAgentes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimAgentes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Origenes_Fresh",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\r\nupper(name) name\r\nfrom source_table;\r\n\r\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshOrigenes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimOrigenes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Productos_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom product_table;\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshProductos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimProductos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Companias_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom freshdesk_companies;\n\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshCompanias",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimCompanias",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Estados_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "SELECT id, \nUPPER(TRIM(REPLACE(REPLACE(SUBSTRING_INDEX(name, ',', 1),'[',''),'''',''))) AS  name\nfrom status_table\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshEstados",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimEstados",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Prioridades_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom priority_table;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshPrioridades",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimPrioridades",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Tipos_Fresh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom ticket_type;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshTipos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimTiposTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Grupos_Fresh",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select id,\nupper(name) name\nfrom group_table;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Double",
											"physicalType": "double"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "nombre",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshGrupos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimGrupos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"IdForEach": {
						"type": "Integer"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-13T18:22:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FreshAgentes')]",
				"[concat(variables('factoryId'), '/datasets/dimAgentes')]",
				"[concat(variables('factoryId'), '/datasets/FreshOrigenes')]",
				"[concat(variables('factoryId'), '/datasets/dimOrigenes')]",
				"[concat(variables('factoryId'), '/datasets/FreshProductos')]",
				"[concat(variables('factoryId'), '/datasets/dimProductos')]",
				"[concat(variables('factoryId'), '/datasets/FreshCompanias')]",
				"[concat(variables('factoryId'), '/datasets/dimCompanias')]",
				"[concat(variables('factoryId'), '/datasets/FreshEstados')]",
				"[concat(variables('factoryId'), '/datasets/dimEstados')]",
				"[concat(variables('factoryId'), '/datasets/FreshPrioridades')]",
				"[concat(variables('factoryId'), '/datasets/dimPrioridades')]",
				"[concat(variables('factoryId'), '/datasets/FreshTipos')]",
				"[concat(variables('factoryId'), '/datasets/dimTiposTickets')]",
				"[concat(variables('factoryId'), '/datasets/FreshGrupos')]",
				"[concat(variables('factoryId'), '/datasets/dimGrupos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/003-Inyecar_Hechos_Fresh_To_Staiging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_SLA_API",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "nombre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['description']"
										},
										"sink": {
											"name": "descipcion",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['active']"
										},
										"sink": {
											"name": "isactive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_4']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority4RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_4']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority4ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_3']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority3RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_3']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority3ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_2']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority2RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_2']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority2ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_1']['respond_within']"
										},
										"sink": {
											"name": "slaTargetPriority1RespondWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['sla_target']['priority_1']['resolve_within']"
										},
										"sink": {
											"name": "slaTargerPriority1ResolveWithin",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['escalation']['reminder_resolution']['agent_ids'][0]"
										},
										"sink": {
											"name": "escalationReminderResolutionAgentids",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['escalation']['resolution']['level_1']['agent_ids'][0]"
										},
										"sink": {
											"name": "escalationResolutionLevel1AgentId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['applicable_to']['company_ids'][0]"
										},
										"sink": {
											"name": "companyid",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "Fresh_SLA",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dimSla",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inyectar_Tickets_Fresh",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Inyectar_SLA_API",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select DISTINCT\nt.id,\ncreated_at,\nupdated_at,\ntimestampdiff(HOUR,created_at,updated_at) AS `hours_between`,\ntimestampdiff(MINUTE,created_at,updated_at) AS `minutes_between`,\nCAST(company_id AS SIGNED)  as companiaCodigo,\ncast(`status` as SIGNED) as estadoCodigo, \ncast(`type` as SIGNED) as tipoCodigo, \ncast(tt.id as SIGNED) as tipoid,\ncast(product_id as SIGNED) as productoCodigo, \ncast(group_id as SIGNED)as grupoCodigo, \ncast(`source` as SIGNED) as origenCodigo,\ncast(`priority` as SIGNED) as prioridadCodigo,\ncast(`responder_id` as SIGNED) as agenteCodigo\nfrom freshdesk_tickets t\nleft join ticket_type tt on tt.name = t.type",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "fechaAlta",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "fechaModificacion",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "hours_between",
											"type": "Int64"
										},
										"sink": {
											"name": "horasDiferecia",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "minutes_between",
											"type": "Int64"
										},
										"sink": {
											"name": "minutosDiferencia",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "companiaCodigo",
											"type": "Double"
										},
										"sink": {
											"name": "companiaCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "estadoCodigo",
											"type": "Int32"
										},
										"sink": {
											"name": "estadoCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "tipoCodigo",
											"type": "String"
										},
										"sink": {
											"name": "tipoCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productoCodigo",
											"type": "String"
										},
										"sink": {
											"name": "productoCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "grupoCodigo",
											"type": "Double"
										},
										"sink": {
											"name": "grupoCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "origenCodigo",
											"type": "Int32"
										},
										"sink": {
											"name": "origenCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "prioridadCodigo",
											"type": "Int32"
										},
										"sink": {
											"name": "prioridadCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "agenteCodigo",
											"type": "Double"
										},
										"sink": {
											"name": "agenteCodigo",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FreshTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "stgTicketsSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Ids": {
						"type": "Array",
						"defaultValue": [
							"[['a','b','c']"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-14T18:54:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Fresh_SLA')]",
				"[concat(variables('factoryId'), '/datasets/dimSla')]",
				"[concat(variables('factoryId'), '/datasets/FreshTickets')]",
				"[concat(variables('factoryId'), '/datasets/stgTicketsSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/004-Inyectar_Fresh_Conversaciones_To_Dw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Conversaciones by Ticket",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Ticktes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Ticktes').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Set variable IdParameter",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "IdParameter",
										"value": {
											"value": "@string(item().id)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "API - Conversaciones",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set variable IdParameter",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@concat('Basic ', base64('yBjVC7W3wuMLeucdH4Hw:X'))",
												"type": "Expression"
											}
										},
										"disableCertValidation": false,
										"url": {
											"value": "@concat('https://autocorpar.freshdesk.com/api/v2/tickets/',item().id,'/conversations')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable vTicketsId",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "API - Conversaciones",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vTicket_id",
										"value": {
											"value": "@json(activity('API - Conversaciones').output.Response)\n\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Variable Key",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable vTicketsId",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Key",
										"value": {
											"value": "@variables('vTicket_id')[0].ticket_id",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Script Insert Conversaciones DW",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Script Detete Conversaciones",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SqlAutocorpDw",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat('insert into stg.conversaciones (id, created_at, updated_at) values (',variables('vTicket_id')[0].ticket_id,\n    pipeline().parameters.DelimitadorComa,\n    pipeline().parameters.DelimitarioCommilaSimple,\n    variables('vTicket_id')[0].created_at,\n    pipeline().parameters.DelimitarioCommilaSimple,\n    pipeline().parameters.DelimitadorComa,\n    pipeline().parameters.DelimitarioCommilaSimple,\n    variables('vTicket_id')[0].updated_at,\n    pipeline().parameters.DelimitarioCommilaSimple,')')",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Script Detete Conversaciones",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Set variable vTicketsId",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SqlAutocorpDw",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat('delete stg.conversaciones where id = ',\npipeline().parameters.DelimitarioCommilaSimple,\nvariables('vTicket_id')[0].ticket_id,\npipeline().parameters.DelimitarioCommilaSimple)",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "Get Ticktes",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT codigo as id FROM [stg].[Tickets] \r\nWHERE fechaAlta >  dateadd(day,-40,getdate())\r\norder by codigo",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "stgTicketsSQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DelimitarioCommilaSimple": {
						"type": "string",
						"defaultValue": "'"
					},
					"DelimitadorComa": {
						"type": "string",
						"defaultValue": ","
					}
				},
				"variables": {
					"IdParameter": {
						"type": "String"
					},
					"vTicket_id": {
						"type": "Array"
					},
					"Key": {
						"type": "Integer"
					},
					"createDate": {
						"type": "Array"
					},
					"VError": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stgTicketsSQL')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/005-Inyectar_Echos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inyectar_Dw_FactTickets",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\r\nt.codigo,\r\nt.fechaAlta,\r\nt.fechaModificacion,\r\nc.id companiaId,\r\ne.id estadoId,\r\ntt.id  tipoId,\r\np.id productoId,\r\ng.id grupoId,\r\no.id origenId,\r\npr.id prioridadId,\r\na.id agenteId,\r\nsla.id slaId,\r\ncase \r\n    when pr.codigo = 1 then sla.slaTargerPriority1ResolveWithin /60\r\n    when pr.codigo = 2 then sla.slaTargerPriority2ResolveWithin /60\r\n    when pr.codigo = 3 then sla.slaTargerPriority3ResolveWithin /60\r\n    when pr.codigo = 4 then sla.slaTargerPriority4ResolveWithin /60\r\nend SlaResolucion,\r\ncase \r\n    when pr.codigo = 1 then sla.slaTargetPriority1RespondWithin /60\r\n    when pr.codigo = 2 then sla.slaTargetPriority2RespondWithin /60\r\n    when pr.codigo = 3 then sla.slaTargetPriority3RespondWithin /60\r\n    when pr.codigo = 4 then sla.slaTargetPriority4RespondWithin /60\r\nend SlaRespuesta,\r\npresp.FechaPrimerRespuesta,\r\nhorasDiferecia,\r\nminutosDiferencia\r\n\r\nfrom stg.tickets t \r\nleft join whs.dimCompanias c on c.codigo = t.companiaCodigo\r\nleft join whs.dimEstados e on e.codigo = t.estadoCodigo\r\nleft join whs.dimTiposTicket tt on tt.codigo = t.tipoCodigo\r\nleft join whs.dimProductos p on p.codigo = t.productoCodigo\r\nleft join whs.dimGrupos g on g.codigo = t.grupoCodigo\r\nleft join whs.dimOrigenes o on o.codigo = t.origenCodigo\r\nleft join whs.dimPrioridades pr on pr.codigo = t.prioridadCodigo\r\nleft join whs.dimAgentes a on a.codigo = t.agenteCodigo\r\nleft join whs.dimSla sla on sla.companyid = t.companiaCodigo or sla.nombre = 'Default SLA Policy' and sla.isactive = 1\r\nleft join (\r\n                select id codigo,\r\n            min(created_at) FechaPrimerRespuesta\r\n            from stg.Conversaciones where id = 92984\r\n            group by id\r\n            ) presp on presp.codigo = t.codigo\r\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"codigo"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "fechaAlta",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "fechaAlta",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fechaModificacion",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "fechaModificacion",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "horasDiferecia",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "horasDiferecia",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "minutosDiferencia",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "minutosDiferencia",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "companiaId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "companiaId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "estadoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "estadoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "tipoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "tipoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "productoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "grupoId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "grupoId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "origenId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "origenId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "prioridadId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "prioridadId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "agenteId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "agenteId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "slaId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "slaId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SlaResolucion",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 21
										},
										"sink": {
											"name": "SlaResolucion",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "SlaRespuesta",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 21
										},
										"sink": {
											"name": "SlaRespuesta",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "FechaPrimerRespuesta",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FechaPrimerRespuesta",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "stgTicketsSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "factTickets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"nombre": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-14T15:43:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stgTicketsSQL')]",
				"[concat(variables('factoryId'), '/datasets/factTickets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshAgentes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "double",
						"precision": 0,
						"scale": 31
					}
				],
				"typeProperties": {
					"tableName": "agent_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshCompanias')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "id",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "note",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "domains",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "updated_at",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "health_score",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "account_tier",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "renewal_date",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "industry",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "custom_fields.estado_crediticio",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "custom_fields.cuit",
						"type": "double",
						"precision": 0,
						"scale": 31
					}
				],
				"typeProperties": {
					"tableName": "freshdesk_companies"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshEstados')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "status_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshGrupos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "double",
						"precision": 0,
						"scale": 31
					}
				],
				"typeProperties": {
					"tableName": "group_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshOrigenes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "int",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "source_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshPrioridades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "int",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "priority_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshProductos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "double",
						"precision": 0,
						"scale": 31
					}
				],
				"typeProperties": {
					"tableName": "product_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshTickets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "cc_emails",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fwd_emails",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reply_cc_emails",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ticket_cc_emails",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ticket_bcc_emails",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fr_escalated",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "spam",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "email_config_id",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "group_id",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "priority",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "requester_id",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "responder_id",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "source",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "company_id",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "status",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "subject",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "association_type",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "support_email",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "to_emails",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "product_id",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "due_by",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fr_due_by",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_escalated",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "custom_fields",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "updated_at",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "associated_tickets_count",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tags",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nr_due_by",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nr_escalated",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "form_id",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "cf_patente",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cf_id_efleet",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "cf_generar_ot_efleet",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cf_kilometraje",
						"type": "double",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "cf_obs_efleet",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cf_motivo_de_reclamo",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "freshdesk_tickets"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshTipos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FreshDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source/Fresh"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "ticket_type"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FreshDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fresh_Conversasiones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ApiConversariones",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "APIs"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ApiConversariones')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fresh_SLA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "APIFresh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "APIs"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/APIFresh')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimAgentes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimAgentes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimCompanias')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "whs",
					"table": "dimCompanias"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimEstados')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "whs",
					"table": "dimEstados"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimGrupos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimGrupos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimOrigenes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimOrigenes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimPrioridades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimPrioridades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimProductos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimProductos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimSla')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descipcion",
						"type": "varchar"
					},
					{
						"name": "isactive",
						"type": "bit"
					},
					{
						"name": "isdefault",
						"type": "bit"
					},
					{
						"name": "posicion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fechaAlta",
						"type": "varchar"
					},
					{
						"name": "fechaModificacion",
						"type": "varchar"
					},
					{
						"name": "companyid",
						"type": "varchar"
					},
					{
						"name": "slaTargetPriority1RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority1ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargetPriority2RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority2ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargetPriority3RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority3ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargetPriority4RespondWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "slaTargerPriority4ResolveWithin",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "escalationReminderResolutionEscalationTime",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "escalationReminderResolutionAgentids",
						"type": "varchar"
					},
					{
						"name": "escalationResolutionLevel1EscalationTime",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "escalationResolutionLevel1AgentId",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimSla"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimTiposTickets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Dimensiones"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "dimTiposTicket"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/factTickets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Echos"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "fechaAlta",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fechaModificacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "horasDiferecia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "minutosDiferencia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "companiaId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estadoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tipoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "productoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "grupoId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "origenId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "prioridadId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "agenteId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "whs",
					"table": "factTickets"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stgTicketsSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlAutocorpDw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staiging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "fechaAlta",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fechaModificacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "horasDiferecia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "minutosDiferencia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "companiaCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estadoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tipoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "productoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "grupoCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "origenCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "prioridadCodigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "agenteCodigo",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Tickets"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlAutocorpDw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/APIFresh')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('APIFresh_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('APIFresh_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('APIFresh_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ApiConversariones')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ApiConversariones_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('ApiConversariones_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ApiConversariones_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataWareouse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('DataWareouse_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreshDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('FreshDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlAutocorpDw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SqlAutocorpDw_properties_typeProperties_server')]",
					"database": "[parameters('SqlAutocorpDw_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlAutocorpDw_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlAutocorpDw_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StaigingDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('StaigingDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Diario 2-00am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "001-Orquestador",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2025-01-04T02:08:00",
						"timeZone": "Argentina Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/001-Orquestador')]"
			]
		}
	]
}